<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoForce.Properties.IsActiveValue" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PhotoForce.Properties.Settings.FreedPhotoSorter3ToMVVMConnectionString"
            connectionString="Data Source=DEVELOPER09;Initial Catalog=FreedPhotoSorter3;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoSorter3MvvmConnectionString"
            connectionString="Data Source=DEVELOPER09;Initial Catalog=PhotoSorter3Mvvm;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoSorter3MvvmConnectionString1"
            connectionString="Data Source=DEVELOPER09;Initial Catalog=PhotoSorter3Mvvm;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoSorter4ConnectionString"
            connectionString="Data Source=DEVELOPER09;Initial Catalog=PhotoSorter4;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.FreedPhotoSorter3ConnectionString"
            connectionString="Data Source=DEVELOPER09;Initial Catalog=FreedPhotoSorter3;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.FreedPhotoSorter3ConnectionString1"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=FreedPhotoSorter3;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.photosorterConnectionString"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=photosorter;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoForce4ConnectionString"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PhotoForce4;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoForce4ConnectionString1"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PhotoForce4;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoForce4ConnectionString2"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PhotoForce4;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PF_MTCConnectionString"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PF@MTC;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PF_MTCConnectionString1"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PF@MTC;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoForce4ConnectionString3"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PhotoForce4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PF_MTCConnectionString2"
            connectionString="Data Source=developer40;Initial Catalog=PF@MTC;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
        <add name="PhotoForce.Properties.Settings.PhotoForce4ConnectionString4"
            connectionString="Data Source=DEVELOPER40;Initial Catalog=PhotoForce4;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PhotoForce.Properties.IsActiveValue>
            <setting name="IsActive" serializeAs="String">
                <value />
            </setting>
        </PhotoForce.Properties.IsActiveValue>
    </userSettings>
</configuration>